* {
    box-sizing: border-box;
  }
  
  .meter {
    float: left;
    width: 33.33%;
    padding: 0px;
    margin:0px;
  }

  .meterlabel{
      text-align: center;
      font-size: large;
      font-weight: bold;
      margin: 0;

  }

  @media (max-width: 1000px) {
   .meter{
       width: 50%;
       padding-top: 10px;
   }
      
}

@media (max-width: 700px) {
    .meter{
        width: 100%;
    }
       
 }